USE [dolibarr]
GO
/****** Object:  Table [dbo].[actions_enregistrement]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actions_enregistrement](
	[nom] [varchar](500) NOT NULL,
	[idUsine] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[affectation_equipe]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[affectation_equipe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idRondier] [int] NOT NULL,
	[idEquipe] [int] NOT NULL,
	[idZone] [int] NOT NULL,
	[poste] [varchar](50) NOT NULL,
	[heure_deb] [time](0) NOT NULL,
	[heure_fin] [time](0) NOT NULL,
	[heure_tp] [time](0) NOT NULL,
	[comm_tp] [varchar](255) NOT NULL,
 CONSTRAINT [PK_affectation_equipe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[anomalie]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anomalie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rondeId] [int] NULL,
	[zoneId] [int] NULL,
	[commentaire] [varchar](255) NULL,
	[photo] [varchar](255) NULL,
	[evenement] [int] NOT NULL,
 CONSTRAINT [PK_anomalie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arrets]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arrets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_heure_debut] [datetime] NULL,
	[date_heure_fin] [datetime] NULL,
	[duree] [decimal](18, 3) NULL,
	[user] [int] NULL,
	[description] [varchar](255) NULL,
	[date_saisie] [datetime] NULL,
	[productId] [int] NULL,
 CONSTRAINT [PK_arrets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_arret_periode] UNIQUE NONCLUSTERED 
(
	[date_heure_debut] ASC,
	[date_heure_fin] ASC,
	[duree] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arretsCategories]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arretsCategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[debCode] [varchar](50) NOT NULL,
	[nom] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[badge]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[badge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[isEnabled] [bit] NULL,
	[userId] [int] NULL,
	[zoneId] [int] NULL,
	[uid] [varchar](20) NULL,
	[idUsine] [int] NOT NULL,
 CONSTRAINT [PK_badge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__badge__DD7012657935D3B5] UNIQUE NONCLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories_new]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories_new](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [datetime] NULL,
	[LastModifiedDate] [datetime] NULL,
	[Name] [varchar](255) NULL,
	[Enabled] [tinyint] NULL,
	[Code] [varchar](6) NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_categories_new] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[choixDepassements]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[choixDepassements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](100) NOT NULL,
 CONSTRAINT [PK_choixDepassements] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uniqNomDepassement] UNIQUE NONCLUSTERED 
(
	[nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[choixDepassementsProduits]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[choixDepassementsProduits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
 CONSTRAINT [PK_choixDepassementsProduits] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uniqNomDepassementProduit] UNIQUE NONCLUSTERED 
(
	[nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consigne]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consigne](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titre] [varchar](250) NOT NULL,
	[commentaire] [varchar](1000) NULL,
	[date_heure_fin] [datetime] NULL,
	[type] [int] NULL,
	[idUsine] [int] NOT NULL,
	[date_heure_debut] [datetime] NULL,
	[url] [varchar](250) NULL,
	[isActive] [int] NOT NULL,
 CONSTRAINT [PK_consigne] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consigneType]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consigneType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversion]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversion](
	[uniteBase] [varchar](10) NOT NULL,
	[uniteCible] [varchar](10) NOT NULL,
	[conversion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[depassements]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[depassements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_heure_debut] [datetime] NULL,
	[date_heure_fin] [datetime] NULL,
	[duree] [decimal](18, 3) NULL,
	[user] [int] NULL,
	[description] [varchar](255) NULL,
	[date_saisie] [datetime] NULL,
	[productId] [int] NULL,
 CONSTRAINT [PK_depassements] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[depassements_new]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[depassements_new](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[choixDepassements] [varchar](100) NULL,
	[choixDepassementsProduits] [varchar](100) NULL,
	[ligne] [varchar](100) NULL,
	[date_heure_debut] [datetime] NOT NULL,
	[date_heure_fin] [datetime] NOT NULL,
	[causes] [varchar](500) NULL,
	[concentration] [varchar](100) NULL,
	[idUsine] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[depassements_produits]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[depassements_produits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idChoixDepassementsProduits] [int] NOT NULL,
	[idChoixDepassements] [int] NOT NULL,
 CONSTRAINT [uniq] UNIQUE NONCLUSTERED 
(
	[idChoixDepassements] ASC,
	[idChoixDepassementsProduits] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[elementcontrole]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[elementcontrole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[zoneId] [int] NULL,
	[nom] [varchar](255) NULL,
	[valeurMin] [decimal](18, 3) NULL,
	[valeurMax] [decimal](18, 3) NULL,
	[typeChamp] [varchar](45) NULL,
	[unit] [varchar](45) NULL,
	[defaultValue] [varchar](45) NULL,
	[isRegulateur] [bit] NULL,
	[listValues] [varchar](200) NULL,
	[isCompteur] [bit] NULL,
	[ordre] [int] NULL,
	[idGroupement] [int] NULL,
	[CodeEquipement] [varchar](100) NULL,
	[infoSup] [varchar](200) NOT NULL,
 CONSTRAINT [PK_elementcontrole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enregistrement_affectation_equipe]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enregistrement_affectation_equipe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idRondier] [int] NOT NULL,
	[idEquipe] [int] NOT NULL,
	[poste] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enregistrement_equipe]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enregistrement_equipe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[equipe] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipe]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[equipe] [varchar](50) NOT NULL,
	[quart] [int] NOT NULL,
	[idChefQuart] [int] NOT NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_equipe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formulaire]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formulaire](
	[idFormulaire] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](100) NOT NULL,
	[idUsine] [int] NOT NULL,
 CONSTRAINT [PK_formulaire] PRIMARY KEY CLUSTERED 
(
	[idFormulaire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formulaire_affectation]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formulaire_affectation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idFormulaire] [int] NOT NULL,
	[idProduct] [int] NOT NULL,
	[alias] [varchar](200) NOT NULL,
 CONSTRAINT [PK_formulaire_affectation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groupement]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groupement](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupement] [varchar](255) NOT NULL,
	[zoneId] [int] NOT NULL,
 CONSTRAINT [PK_groupement] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import_tonnage]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_tonnage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProducerId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[idUsine] [int] NOT NULL,
	[nomImport] [varchar](255) NOT NULL,
	[productImport] [varchar](255) NOT NULL,
 CONSTRAINT [PK_import_tonnage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import_tonnage_parametres]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_tonnage_parametres](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[delimiter] [varchar](2) NOT NULL,
	[header] [bit] NOT NULL,
	[client] [int] NOT NULL,
	[typeDechet] [int] NOT NULL,
	[dateEntree] [int] NOT NULL,
	[tonnage] [int] NOT NULL,
	[entreeSortie] [int] NOT NULL,
	[idUsine] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import_tonnage_parametres_sens]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_tonnage_parametres_sens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sens] [varchar](50) NOT NULL,
	[correspondanceFichier] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import_tonnageReactifs]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_tonnageReactifs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[idUsine] [int] NOT NULL,
	[productImport] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import_tonnageSortants]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_tonnageSortants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[idUsine] [int] NOT NULL,
	[productImport] [varchar](255) NOT NULL,
 CONSTRAINT [PK_import_tonnageSortants_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [PK_import_tonnageSortants] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance](
	[dateHeureDebut] [datetime2](7) NOT NULL,
	[dateHeureFin] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[measures_new]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[measures_new](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[EntryDate] [datetime2](7) NULL,
	[Value] [decimal](18, 4) NULL,
	[ProductId] [int] NULL,
	[ProducerId] [int] NULL,
 CONSTRAINT [PK_measures_new] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesuresrondier]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesuresrondier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[elementId] [int] NULL,
	[modeRegulateur] [varchar](25) NULL,
	[value] [varchar](255) NULL,
	[rondeId] [int] NULL,
	[dateHeure] [datetime] NOT NULL,
 CONSTRAINT [PK_mesuresrondier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__mesuresr__7105E90990E68E22] UNIQUE NONCLUSTERED 
(
	[elementId] ASC,
	[rondeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modeoperatoire]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modeoperatoire](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NULL,
	[zoneId] [int] NULL,
	[fichier] [varchar](255) NOT NULL,
 CONSTRAINT [PK_modeoperatoire] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moralentities_new]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moralentities_new](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[Name] [varchar](150) NULL,
	[Address] [varchar](50) NULL,
	[Enabled] [tinyint] NULL,
	[Code] [varchar](15) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[numCAP] [varchar](10) NULL,
	[codeDechet] [varchar](15) NULL,
	[nomClient] [varchar](255) NULL,
	[prenomClient] [varchar](255) NULL,
	[mailClient] [varchar](255) NULL,
	[idUsine] [int] NULL,
 CONSTRAINT [PK_moralentities_new] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[postesRondier]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[postesRondier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productcategories_new]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productcategories_new](
	[ProductId] [int] NULL,
	[CategoryId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_new]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_new](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[Name] [varchar](700) NULL,
	[Unit] [varchar](15) NULL,
	[Enabled] [tinyint] NULL,
	[Code] [varchar](15) NULL,
	[typeId] [int] NULL,
	[idUsine] [int] NULL,
	[TAG] [varchar](50) NULL,
	[CodeEquipement] [varchar](100) NOT NULL,
	[typeRecupEMonitoring] [varchar](10) NULL,
	[idElementRondier] [int] NULL,
	[Coefficient] [varchar](30) NULL,
	[typeDonneeEMonitoring] [varchar](15) NOT NULL,
	[typeAlerte] [varchar](50) NOT NULL,
	[valeurAlerte] [int] NULL,
	[alerteActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_products_new] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quart_action]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quart_action](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](1000) NOT NULL,
	[idUsine] [int] NOT NULL,
	[date_heure_debut] [datetime] NOT NULL,
	[date_heure_fin] [datetime] NOT NULL,
 CONSTRAINT [PK_quart_action] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quart_actualite]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quart_actualite](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsine] [int] NOT NULL,
	[titre] [varchar](250) NOT NULL,
	[date_heure_debut] [datetime] NOT NULL,
	[date_heure_fin] [datetime] NOT NULL,
	[importance] [int] NOT NULL,
	[isValide] [tinyint] NOT NULL,
	[description] [varchar](2000) NULL,
 CONSTRAINT [PK_quart_actualite] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quart_calendrier]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quart_calendrier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsine] [int] NOT NULL,
	[idZone] [int] NULL,
	[idAction] [int] NULL,
	[date_heure_debut] [datetime] NOT NULL,
	[quart] [int] NOT NULL,
	[termine] [tinyint] NOT NULL,
	[date_heure_fin] [datetime] NULL,
	[idUser] [int] NULL,
	[finReccurrence] [varchar](255) NULL,
	[recurrencePhrase] [varchar](100) NULL,
 CONSTRAINT [PK_quart_calendrier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_quart_calendrier] UNIQUE NONCLUSTERED 
(
	[date_heure_debut] ASC,
	[date_heure_fin] ASC,
	[quart] ASC,
	[idUsine] ASC,
	[idZone] ASC,
	[idAction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quart_evenement]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quart_evenement](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsine] [int] NOT NULL,
	[groupementGMAO] [varchar](250) NULL,
	[equipementGMAO] [varchar](250) NULL,
	[titre] [varchar](250) NOT NULL,
	[description] [varchar](1000) NOT NULL,
	[date_heure_debut] [datetime] NOT NULL,
	[date_heure_fin] [datetime] NOT NULL,
	[importance] [int] NOT NULL,
	[demande_travaux] [varchar](10) NOT NULL,
	[consigne] [tinyint] NOT NULL,
	[cause] [varchar](250) NULL,
	[url] [varchar](250) NULL,
	[isActive] [int] NOT NULL,
 CONSTRAINT [PK_quart_evenement] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quart_historique]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quart_historique](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[dateHeure] [datetime] NOT NULL,
	[idConsigne] [int] NULL,
	[idEvenement] [int] NULL,
	[idActu] [int] NULL,
	[priseQuart] [int] NULL,
	[finQuart] [int] NULL,
	[creation] [int] NULL,
	[edition] [int] NULL,
	[idUsine] [int] NOT NULL,
	[suppression] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quart_liensExternes]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quart_liensExternes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](200) NOT NULL,
	[url] [varchar](250) NOT NULL,
	[idUsine] [int] NOT NULL,
	[actif] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rapport]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rapport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[url] [varchar](max) NOT NULL,
	[idUsine] [int] NOT NULL,
 CONSTRAINT [PK_rapport] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[repriseRonde]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[repriseRonde](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[quart] [int] NOT NULL,
	[idUsine] [int] NOT NULL,
	[termine] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ronde]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ronde](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[dateHeure] [varchar](255) NULL,
	[quart] [int] NULL,
	[userId] [int] NULL,
	[commentaire] [varchar](255) NULL,
	[isFinished] [bit] NULL,
	[fonctFour1] [bit] NULL,
	[fonctFour2] [bit] NULL,
	[fonctFour3] [bit] NULL,
	[fonctFour4] [bit] NULL,
	[chefQuartId] [int] NULL,
	[idUsine] [int] NOT NULL,
	[urlPDF] [varchar](255) NOT NULL,
	[dateHeureCreation] [datetime] NOT NULL,
 CONSTRAINT [PK_ronde] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[site]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[site](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[localisation] [varchar](50) NOT NULL,
	[codeUsine] [varchar](50) NOT NULL,
	[nbLigne] [int] NULL,
	[nbGTA] [int] NULL,
	[nbReseauChaleur] [int] NULL,
	[typeImport] [varchar](50) NULL,
	[typeRondier] [varchar](3) NOT NULL,
	[ipAveva] [varchar](30) NOT NULL,
	[validationDonnees] [tinyint] NOT NULL,
	[debutQuartMatin] [time](0) NULL,
	[finQuartMatin] [time](0) NULL,
	[debutQuartAM] [time](0) NULL,
	[finQuartAM] [time](0) NULL,
	[debutQuartNuit] [time](0) NULL,
	[finQuartNuit] [time](0) NULL,
	[margeHeuresQuart] [int] NOT NULL,
 CONSTRAINT [PK_site] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SqlServerVersions]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SqlServerVersions](
	[MajorVersionNumber] [tinyint] NOT NULL,
	[MinorVersionNumber] [smallint] NOT NULL,
	[Branch] [varchar](34) NOT NULL,
	[Url] [varchar](99) NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[MainstreamSupportEndDate] [date] NOT NULL,
	[ExtendedSupportEndDate] [date] NOT NULL,
	[MajorVersionName] [varchar](19) NOT NULL,
	[MinorVersionName] [varchar](67) NOT NULL,
 CONSTRAINT [PK_SqlServerVersions] PRIMARY KEY CLUSTERED 
(
	[MajorVersionNumber] ASC,
	[MinorVersionNumber] ASC,
	[ReleaseDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[token]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[token](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](255) NOT NULL,
	[affectation] [varchar](255) NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_token] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_new]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_new](
	[idType] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](45) NULL,
 CONSTRAINT [PK_type_new] PRIMARY KEY CLUSTERED 
(
	[idType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](255) NOT NULL,
	[Prenom] [varchar](255) NOT NULL,
	[login] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[loginGMAO] [varchar](100) NOT NULL,
	[posteUser] [varchar](100) NOT NULL,
	[pwd] [varchar](255) NOT NULL,
	[isRondier] [bit] NOT NULL,
	[isSaisie] [bit] NOT NULL,
	[isQSE] [bit] NOT NULL,
	[isRapport] [bit] NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[isChefQuart] [bit] NOT NULL,
	[isSuperAdmin] [bit] NOT NULL,
	[isMail] [bit] NOT NULL,
	[isActif] [bit] NOT NULL,
	[idUsine] [int] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__users__7838F272CAAF7ACD] UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[validationDonnees]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[validationDonnees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[idUsine] [int] NOT NULL,
	[date] [date] NOT NULL,
	[moisValidation] [varchar](2) NOT NULL,
	[anneeValidation] [varchar](4) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zonecontrole]    Script Date: 20/02/2026 15:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zonecontrole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](500) NULL,
	[commentaire] [varchar](500) NULL,
	[four] [int] NOT NULL,
	[idUsine] [int] NOT NULL,
 CONSTRAINT [PK_zonecontrole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[affectation_equipe] ADD  CONSTRAINT [DF_affectation_equipe_heure_deb]  DEFAULT ('') FOR [heure_deb]
GO
ALTER TABLE [dbo].[affectation_equipe] ADD  CONSTRAINT [DF_affectation_equipe_heure_fin]  DEFAULT ('') FOR [heure_fin]
GO
ALTER TABLE [dbo].[affectation_equipe] ADD  CONSTRAINT [DF_affectation_equipe_heure_tp]  DEFAULT ('00:00') FOR [heure_tp]
GO
ALTER TABLE [dbo].[affectation_equipe] ADD  CONSTRAINT [DF_affectation_equipe_comm_tp]  DEFAULT ('') FOR [comm_tp]
GO
ALTER TABLE [dbo].[anomalie] ADD  CONSTRAINT [DF_anomalie_evenement]  DEFAULT ((0)) FOR [evenement]
GO
ALTER TABLE [dbo].[badge] ADD  CONSTRAINT [DF_badge_isEnabled]  DEFAULT ((1)) FOR [isEnabled]
GO
ALTER TABLE [dbo].[badge] ADD  CONSTRAINT [DF_badge_idUsine]  DEFAULT ((1)) FOR [idUsine]
GO
ALTER TABLE [dbo].[consigne] ADD  CONSTRAINT [DF_consigne_idUsine]  DEFAULT ((1)) FOR [idUsine]
GO
ALTER TABLE [dbo].[consigne] ADD  CONSTRAINT [DF_consigne_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[elementcontrole] ADD  CONSTRAINT [DF_elementcontrole_idGroupement]  DEFAULT (NULL) FOR [idGroupement]
GO
ALTER TABLE [dbo].[elementcontrole] ADD  CONSTRAINT [DF_elementcontrole_infoSup]  DEFAULT ('') FOR [infoSup]
GO
ALTER TABLE [dbo].[enregistrement_affectation_equipe] ADD  CONSTRAINT [DF_enregistrement_affectation_equipe_poste]  DEFAULT ('') FOR [poste]
GO
ALTER TABLE [dbo].[import_tonnage_parametres] ADD  CONSTRAINT [DF_import_tonnage_parametres_delimiter]  DEFAULT (';') FOR [delimiter]
GO
ALTER TABLE [dbo].[import_tonnage_parametres] ADD  CONSTRAINT [DF_import_tonnage_parametres_header]  DEFAULT ((1)) FOR [header]
GO
ALTER TABLE [dbo].[mesuresrondier] ADD  CONSTRAINT [DF_mesuresrondier_dateHeure]  DEFAULT (getdate()) FOR [dateHeure]
GO
ALTER TABLE [dbo].[products_new] ADD  CONSTRAINT [DF_products_new_TAG]  DEFAULT ('') FOR [TAG]
GO
ALTER TABLE [dbo].[products_new] ADD  CONSTRAINT [DF_products_new_CodeEquipement]  DEFAULT ('') FOR [CodeEquipement]
GO
ALTER TABLE [dbo].[products_new] ADD  CONSTRAINT [DF_products_new_Coefficient]  DEFAULT ('1') FOR [Coefficient]
GO
ALTER TABLE [dbo].[products_new] ADD  CONSTRAINT [DF_products_new_typeDonneeEMonitoring]  DEFAULT ('AnalogSummary') FOR [typeDonneeEMonitoring]
GO
ALTER TABLE [dbo].[products_new] ADD  CONSTRAINT [DF_products_new_typeAlerte]  DEFAULT ('aucune') FOR [typeAlerte]
GO
ALTER TABLE [dbo].[products_new] ADD  CONSTRAINT [DF_products_new_alerteActive]  DEFAULT ((0)) FOR [alerteActive]
GO
ALTER TABLE [dbo].[quart_actualite] ADD  CONSTRAINT [DF_quart_actualite_importance]  DEFAULT ((1)) FOR [importance]
GO
ALTER TABLE [dbo].[quart_actualite] ADD  CONSTRAINT [DF_quart_actualite_isValide]  DEFAULT ((0)) FOR [isValide]
GO
ALTER TABLE [dbo].[quart_calendrier] ADD  CONSTRAINT [DF_quart_calendrier_termine]  DEFAULT ((0)) FOR [termine]
GO
ALTER TABLE [dbo].[quart_evenement] ADD  CONSTRAINT [DF_quart_evenement_importance]  DEFAULT ((1)) FOR [importance]
GO
ALTER TABLE [dbo].[quart_evenement] ADD  CONSTRAINT [DF_quart_evenement_demande_travaux]  DEFAULT ((0)) FOR [demande_travaux]
GO
ALTER TABLE [dbo].[quart_evenement] ADD  CONSTRAINT [DF_quart_evenement_consigne]  DEFAULT ((0)) FOR [consigne]
GO
ALTER TABLE [dbo].[quart_evenement] ADD  CONSTRAINT [DF_quart_evenement_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[ronde] ADD  CONSTRAINT [DF_ronde_isFinished]  DEFAULT ((0)) FOR [isFinished]
GO
ALTER TABLE [dbo].[ronde] ADD  CONSTRAINT [DF_ronde_fonctFour1]  DEFAULT ((0)) FOR [fonctFour1]
GO
ALTER TABLE [dbo].[ronde] ADD  CONSTRAINT [DF_ronde_fonctFour2]  DEFAULT ((0)) FOR [fonctFour2]
GO
ALTER TABLE [dbo].[ronde] ADD  CONSTRAINT [DF_ronde_fonctFour3]  DEFAULT ((0)) FOR [fonctFour3]
GO
ALTER TABLE [dbo].[ronde] ADD  CONSTRAINT [DF_ronde_fonctFour4]  DEFAULT ((0)) FOR [fonctFour4]
GO
ALTER TABLE [dbo].[ronde] ADD  CONSTRAINT [DF_ronde_idUsine]  DEFAULT ((1)) FOR [idUsine]
GO
ALTER TABLE [dbo].[ronde] ADD  CONSTRAINT [DF_ronde_urlPDF]  DEFAULT ('') FOR [urlPDF]
GO
ALTER TABLE [dbo].[ronde] ADD  CONSTRAINT [DF_ronde_dateHeureCreation]  DEFAULT (getdate()) FOR [dateHeureCreation]
GO
ALTER TABLE [dbo].[site] ADD  CONSTRAINT [DF_site_typeRondier]  DEFAULT ('A') FOR [typeRondier]
GO
ALTER TABLE [dbo].[site] ADD  CONSTRAINT [DF_site_ipAveva]  DEFAULT ('') FOR [ipAveva]
GO
ALTER TABLE [dbo].[site] ADD  CONSTRAINT [DF_site_validationDonnees]  DEFAULT ((0)) FOR [validationDonnees]
GO
ALTER TABLE [dbo].[site] ADD  CONSTRAINT [DF_site_debutQuartMatin]  DEFAULT ('05:00') FOR [debutQuartMatin]
GO
ALTER TABLE [dbo].[site] ADD  CONSTRAINT [DF_site_finQuartMatin]  DEFAULT ('13:00') FOR [finQuartMatin]
GO
ALTER TABLE [dbo].[site] ADD  CONSTRAINT [DF_site_debutQuartAM]  DEFAULT ('13:00') FOR [debutQuartAM]
GO
ALTER TABLE [dbo].[site] ADD  CONSTRAINT [DF_site_finQuartAM]  DEFAULT ('21:00') FOR [finQuartAM]
GO
ALTER TABLE [dbo].[site] ADD  CONSTRAINT [DF_site_debutQuartNuit]  DEFAULT ('21:00') FOR [debutQuartNuit]
GO
ALTER TABLE [dbo].[site] ADD  CONSTRAINT [DF_site_finQuartNuit]  DEFAULT ('05:00') FOR [finQuartNuit]
GO
ALTER TABLE [dbo].[site] ADD  CONSTRAINT [DF_site_margeHeuresQuart]  DEFAULT ((2)) FOR [margeHeuresQuart]
GO
ALTER TABLE [dbo].[token] ADD  CONSTRAINT [DF_token_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_email]  DEFAULT ('') FOR [email]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_loginGMAO]  DEFAULT ('') FOR [loginGMAO]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_poste]  DEFAULT ('') FOR [posteUser]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_isChefQuart]  DEFAULT ((0)) FOR [isChefQuart]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_isSuperAdmin]  DEFAULT ((0)) FOR [isSuperAdmin]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_isMail]  DEFAULT ((0)) FOR [isMail]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_isActif]  DEFAULT ((1)) FOR [isActif]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_idUsine]  DEFAULT ((1)) FOR [idUsine]
GO
ALTER TABLE [dbo].[zonecontrole] ADD  CONSTRAINT [DF_zonecontrole_four]  DEFAULT ((0)) FOR [four]
GO
ALTER TABLE [dbo].[zonecontrole] ADD  CONSTRAINT [DF_zonecontrole_idUsine]  DEFAULT ((1)) FOR [idUsine]
GO
ALTER TABLE [dbo].[affectation_equipe]  WITH CHECK ADD  CONSTRAINT [FK_equipe_equipe] FOREIGN KEY([idEquipe])
REFERENCES [dbo].[equipe] ([id])
GO
ALTER TABLE [dbo].[affectation_equipe] CHECK CONSTRAINT [FK_equipe_equipe]
GO
ALTER TABLE [dbo].[affectation_equipe]  WITH CHECK ADD  CONSTRAINT [FK_equipe_rondier] FOREIGN KEY([idRondier])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[affectation_equipe] CHECK CONSTRAINT [FK_equipe_rondier]
GO
ALTER TABLE [dbo].[anomalie]  WITH CHECK ADD  CONSTRAINT [FK_anomalie_ronde] FOREIGN KEY([rondeId])
REFERENCES [dbo].[ronde] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[anomalie] CHECK CONSTRAINT [FK_anomalie_ronde]
GO
ALTER TABLE [dbo].[anomalie]  WITH CHECK ADD  CONSTRAINT [FK_anomalie_zone] FOREIGN KEY([zoneId])
REFERENCES [dbo].[zonecontrole] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[anomalie] CHECK CONSTRAINT [FK_anomalie_zone]
GO
ALTER TABLE [dbo].[arrets]  WITH CHECK ADD  CONSTRAINT [FK_arrets_product] FOREIGN KEY([productId])
REFERENCES [dbo].[products_new] ([Id])
GO
ALTER TABLE [dbo].[arrets] CHECK CONSTRAINT [FK_arrets_product]
GO
ALTER TABLE [dbo].[arrets]  WITH CHECK ADD  CONSTRAINT [FK_arrets_user] FOREIGN KEY([user])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[arrets] CHECK CONSTRAINT [FK_arrets_user]
GO
ALTER TABLE [dbo].[badge]  WITH CHECK ADD  CONSTRAINT [FK_badge_user] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[badge] CHECK CONSTRAINT [FK_badge_user]
GO
ALTER TABLE [dbo].[badge]  WITH CHECK ADD  CONSTRAINT [FK_badge_zone] FOREIGN KEY([zoneId])
REFERENCES [dbo].[zonecontrole] ([Id])
GO
ALTER TABLE [dbo].[badge] CHECK CONSTRAINT [FK_badge_zone]
GO
ALTER TABLE [dbo].[badge]  WITH CHECK ADD  CONSTRAINT [FK_site_badge] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[badge] CHECK CONSTRAINT [FK_site_badge]
GO
ALTER TABLE [dbo].[categories_new]  WITH CHECK ADD  CONSTRAINT [FK_cat_parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[categories_new] ([Id])
GO
ALTER TABLE [dbo].[categories_new] CHECK CONSTRAINT [FK_cat_parent]
GO
ALTER TABLE [dbo].[consigne]  WITH CHECK ADD  CONSTRAINT [FK_site_consigne] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[consigne] CHECK CONSTRAINT [FK_site_consigne]
GO
ALTER TABLE [dbo].[depassements]  WITH CHECK ADD  CONSTRAINT [FK_dep_product] FOREIGN KEY([productId])
REFERENCES [dbo].[products_new] ([Id])
GO
ALTER TABLE [dbo].[depassements] CHECK CONSTRAINT [FK_dep_product]
GO
ALTER TABLE [dbo].[depassements]  WITH CHECK ADD  CONSTRAINT [FK_dep_user] FOREIGN KEY([user])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[depassements] CHECK CONSTRAINT [FK_dep_user]
GO
ALTER TABLE [dbo].[depassements_produits]  WITH CHECK ADD  CONSTRAINT [FK_depassements] FOREIGN KEY([idChoixDepassements])
REFERENCES [dbo].[choixDepassements] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[depassements_produits] CHECK CONSTRAINT [FK_depassements]
GO
ALTER TABLE [dbo].[depassements_produits]  WITH CHECK ADD  CONSTRAINT [FK_depassements_produits] FOREIGN KEY([idChoixDepassementsProduits])
REFERENCES [dbo].[choixDepassementsProduits] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[depassements_produits] CHECK CONSTRAINT [FK_depassements_produits]
GO
ALTER TABLE [dbo].[elementcontrole]  WITH NOCHECK ADD  CONSTRAINT [FK_elem_zone] FOREIGN KEY([zoneId])
REFERENCES [dbo].[zonecontrole] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[elementcontrole] CHECK CONSTRAINT [FK_elem_zone]
GO
ALTER TABLE [dbo].[elementcontrole]  WITH NOCHECK ADD  CONSTRAINT [FK_elementcontrole_groupement] FOREIGN KEY([idGroupement])
REFERENCES [dbo].[groupement] ([id])
GO
ALTER TABLE [dbo].[elementcontrole] CHECK CONSTRAINT [FK_elementcontrole_groupement]
GO
ALTER TABLE [dbo].[equipe]  WITH CHECK ADD  CONSTRAINT [FK_equipe_chefQuart] FOREIGN KEY([idChefQuart])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[equipe] CHECK CONSTRAINT [FK_equipe_chefQuart]
GO
ALTER TABLE [dbo].[formulaire]  WITH CHECK ADD  CONSTRAINT [FK_formulaire_idUsine] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[formulaire] CHECK CONSTRAINT [FK_formulaire_idUsine]
GO
ALTER TABLE [dbo].[formulaire_affectation]  WITH CHECK ADD  CONSTRAINT [FK_formulaire_affectation_formulaire] FOREIGN KEY([idFormulaire])
REFERENCES [dbo].[formulaire] ([idFormulaire])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[formulaire_affectation] CHECK CONSTRAINT [FK_formulaire_affectation_formulaire]
GO
ALTER TABLE [dbo].[formulaire_affectation]  WITH CHECK ADD  CONSTRAINT [FK_formulaire_affectation_product] FOREIGN KEY([idProduct])
REFERENCES [dbo].[products_new] ([Id])
GO
ALTER TABLE [dbo].[formulaire_affectation] CHECK CONSTRAINT [FK_formulaire_affectation_product]
GO
ALTER TABLE [dbo].[groupement]  WITH CHECK ADD  CONSTRAINT [FK_groupement_zone] FOREIGN KEY([zoneId])
REFERENCES [dbo].[zonecontrole] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[groupement] CHECK CONSTRAINT [FK_groupement_zone]
GO
ALTER TABLE [dbo].[import_tonnage]  WITH CHECK ADD  CONSTRAINT [FK_import_tonnage_producer] FOREIGN KEY([ProducerId])
REFERENCES [dbo].[moralentities_new] ([Id])
GO
ALTER TABLE [dbo].[import_tonnage] CHECK CONSTRAINT [FK_import_tonnage_producer]
GO
ALTER TABLE [dbo].[import_tonnage]  WITH CHECK ADD  CONSTRAINT [FK_import_tonnage_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[products_new] ([Id])
GO
ALTER TABLE [dbo].[import_tonnage] CHECK CONSTRAINT [FK_import_tonnage_product]
GO
ALTER TABLE [dbo].[import_tonnage]  WITH CHECK ADD  CONSTRAINT [FK_import_tonnage_usine] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[import_tonnage] CHECK CONSTRAINT [FK_import_tonnage_usine]
GO
ALTER TABLE [dbo].[measures_new]  WITH NOCHECK ADD  CONSTRAINT [FK_measures_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[products_new] ([Id])
GO
ALTER TABLE [dbo].[measures_new] CHECK CONSTRAINT [FK_measures_product]
GO
ALTER TABLE [dbo].[mesuresrondier]  WITH CHECK ADD  CONSTRAINT [FK_measuresRondier_element] FOREIGN KEY([elementId])
REFERENCES [dbo].[elementcontrole] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mesuresrondier] CHECK CONSTRAINT [FK_measuresRondier_element]
GO
ALTER TABLE [dbo].[mesuresrondier]  WITH NOCHECK ADD  CONSTRAINT [FK_measuresRondier_ronde] FOREIGN KEY([rondeId])
REFERENCES [dbo].[ronde] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mesuresrondier] NOCHECK CONSTRAINT [FK_measuresRondier_ronde]
GO
ALTER TABLE [dbo].[modeoperatoire]  WITH CHECK ADD  CONSTRAINT [FK_modeOP_zone] FOREIGN KEY([zoneId])
REFERENCES [dbo].[zonecontrole] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[modeoperatoire] CHECK CONSTRAINT [FK_modeOP_zone]
GO
ALTER TABLE [dbo].[moralentities_new]  WITH CHECK ADD  CONSTRAINT [FK__moralenti__idUsi__7A672E12] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[moralentities_new] CHECK CONSTRAINT [FK__moralenti__idUsi__7A672E12]
GO
ALTER TABLE [dbo].[products_new]  WITH CHECK ADD  CONSTRAINT [FK__products___idUsi__6D0D32F4] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[products_new] CHECK CONSTRAINT [FK__products___idUsi__6D0D32F4]
GO
ALTER TABLE [dbo].[products_new]  WITH CHECK ADD  CONSTRAINT [FK_product_type] FOREIGN KEY([typeId])
REFERENCES [dbo].[type_new] ([idType])
GO
ALTER TABLE [dbo].[products_new] CHECK CONSTRAINT [FK_product_type]
GO
ALTER TABLE [dbo].[products_new]  WITH CHECK ADD  CONSTRAINT [FK_products_elementRondier] FOREIGN KEY([idElementRondier])
REFERENCES [dbo].[elementcontrole] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[products_new] CHECK CONSTRAINT [FK_products_elementRondier]
GO
ALTER TABLE [dbo].[quart_action]  WITH CHECK ADD  CONSTRAINT [FK_quart_action_site] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[quart_action] CHECK CONSTRAINT [FK_quart_action_site]
GO
ALTER TABLE [dbo].[quart_actualite]  WITH CHECK ADD  CONSTRAINT [FK_quart_actualite_site] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[quart_actualite] CHECK CONSTRAINT [FK_quart_actualite_site]
GO
ALTER TABLE [dbo].[quart_calendrier]  WITH CHECK ADD  CONSTRAINT [FK_quart_calendrier_action] FOREIGN KEY([idAction])
REFERENCES [dbo].[quart_action] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[quart_calendrier] CHECK CONSTRAINT [FK_quart_calendrier_action]
GO
ALTER TABLE [dbo].[quart_calendrier]  WITH CHECK ADD  CONSTRAINT [FK_quart_calendrier_site] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[quart_calendrier] CHECK CONSTRAINT [FK_quart_calendrier_site]
GO
ALTER TABLE [dbo].[quart_calendrier]  WITH CHECK ADD  CONSTRAINT [FK_quart_calendrier_zone] FOREIGN KEY([idZone])
REFERENCES [dbo].[zonecontrole] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[quart_calendrier] CHECK CONSTRAINT [FK_quart_calendrier_zone]
GO
ALTER TABLE [dbo].[quart_evenement]  WITH CHECK ADD  CONSTRAINT [FK_quart_evenement_site] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[quart_evenement] CHECK CONSTRAINT [FK_quart_evenement_site]
GO
ALTER TABLE [dbo].[rapport]  WITH CHECK ADD  CONSTRAINT [FK__rapport__idUsine__5DCAEF64] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[rapport] CHECK CONSTRAINT [FK__rapport__idUsine__5DCAEF64]
GO
ALTER TABLE [dbo].[ronde]  WITH CHECK ADD  CONSTRAINT [FK_ronde_user] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ronde] CHECK CONSTRAINT [FK_ronde_user]
GO
ALTER TABLE [dbo].[ronde]  WITH CHECK ADD  CONSTRAINT [FK_site_ronde] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[ronde] CHECK CONSTRAINT [FK_site_ronde]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK__users__idUsine__6754599E] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK__users__idUsine__6754599E]
GO
ALTER TABLE [dbo].[validationDonnees]  WITH CHECK ADD  CONSTRAINT [FK_validationDonnees_site] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[validationDonnees] CHECK CONSTRAINT [FK_validationDonnees_site]
GO
ALTER TABLE [dbo].[validationDonnees]  WITH CHECK ADD  CONSTRAINT [FK_validationDonnees_user] FOREIGN KEY([idUser])
REFERENCES [dbo].[users] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[validationDonnees] CHECK CONSTRAINT [FK_validationDonnees_user]
GO
ALTER TABLE [dbo].[zonecontrole]  WITH CHECK ADD  CONSTRAINT [FK_site_zone] FOREIGN KEY([idUsine])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[zonecontrole] CHECK CONSTRAINT [FK_site_zone]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1->matin,2->aprem,3->nuit' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'quart_calendrier', @level2type=N'COLUMN',@level2name=N'quart'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0->création,1->fait' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'quart_calendrier', @level2type=N'COLUMN',@level2name=N'termine'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 -> non , 1 -> pré demande , 2 -> GMAO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'quart_evenement', @level2type=N'COLUMN',@level2name=N'demande_travaux'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'The major version number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SqlServerVersions', @level2type=N'COLUMN',@level2name=N'MajorVersionNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'The minor version number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SqlServerVersions', @level2type=N'COLUMN',@level2name=N'MinorVersionNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'The update level of the build. CU indicates a cumulative update. SP indicates a service pack. RTM indicates Release To Manufacturer. GDR indicates a General Distribution Release. QFE indicates Quick Fix Engineering (aka hotfix).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SqlServerVersions', @level2type=N'COLUMN',@level2name=N'Branch'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'A link to the KB article for a version.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SqlServerVersions', @level2type=N'COLUMN',@level2name=N'Url'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'The date the version was publicly released.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SqlServerVersions', @level2type=N'COLUMN',@level2name=N'ReleaseDate'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'The date main stream Microsoft support ends for the version.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SqlServerVersions', @level2type=N'COLUMN',@level2name=N'MainstreamSupportEndDate'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'The date extended Microsoft support ends for the version.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SqlServerVersions', @level2type=N'COLUMN',@level2name=N'ExtendedSupportEndDate'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'The major version name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SqlServerVersions', @level2type=N'COLUMN',@level2name=N'MajorVersionName'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'The minor version name.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SqlServerVersions', @level2type=N'COLUMN',@level2name=N'MinorVersionName'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'A reference for SQL Server major and minor versions.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SqlServerVersions'
GO
