# Configuration API CAP Exploitation
CAP_BASE_URL=https://fr-couvinove301:3100
CAP_TOKEN=your_jwt_token_here

# Configuration AVEVA
AVEVA_USER=capexploitation
AVEVA_PASSWORD=your_aveva_password_here

# Configuration EVELER
EVELER_URL=https://api.eveler.pro/api/client
EVELER_TOKEN=your_eveler_token_here
EVELER_SECRET=your_eveler_secret_here

# Configuration SMTP (pour alertes mail)
USER_SMTP=your_smtp_user
PWD_SMTP=your_smtp_password
PORT_SMTP=587
HOST_SMTP=your_smtp_host
